body 
{
    background-image: url('/Images/mini.PNG');
    background-repeat:no-repeat;
    background-size:cover;
}
#buttonrow
{
    position:relative;
    top:1%;
    left:9%;
    height: 48px;
}

#PurchasePage
{
    background-color: Red;

