body 
{
    background-image: url('/Images/Site Background mini.PNG');
    background-repeat:no-repeat;
    background-size:cover;
}
#buttonrow
{
    position:relative;
    background-size:25%;
    top:2%;
    left:1%;
    height: 76px;
}

#PurchasePage 
{
    background-color: Red;
}
