body 
{
    background-image: url('/Images/Site Background mini.PNG');
    background-repeat:no-repeat;
    background-size:cover;
}
#buttonrow
{
    position:relative;
    left:275px;
    top:-110px;
}

#PurchasePage 
{
    background-color: Red;
}
.buttonstyle
{
<<<<<<< HEAD
    margin:20px;
}
=======
    position: fixed;
    left: 250px;
    top: 520px;
}

/*CSS for sketchy looking bird drawing :: Isabel did this*/
#BirdConcept
{
    position:fixed;
    right: 550px;
    top: 520px;
}

/*CSS for desktop banner :: Isabel did this*/
#Desktop
{
    position:fixed;
    left:207px;
    top: 410px;
}
<<<<<<< HEAD

/*CSS for hyper link to Birdemic official site :: Isabel did this*/
#HyperLink1
{
    text-align:center;
    position: fixed;
    left:250px;
    top:150px;
    color:#ffffff;
    font-family:Tunga;
}

/* CSS for text for indicate art :: Isabel did this*/
#ConceptText
{
    text-align:center;
    position:fixed;
    left: 560px;
    top:380px;
    color:#ffffff;
    font-family:Tunga;
}

/*CSS for text for to indicate links :: Isabel did this*/
#LinksText
{
    text-align:center;
    position:fixed;
    left: 540px;
    top:100px;
    color:#ffffff;
    font-family:Tunga;
}

/*CSS for hyper link to IMDB*/
#IMDB
{
    text-align:center;
    position: fixed;
    left:500px;
    top:150px;
    font-family:Tunga;
    color:#ffffff;
}
=======
>>>>>>> origin/master
>>>>>>> origin/master
>>>>>>> origin/master
